<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Monitor your render">
    <meta name="author" content="rDany">
    <!--<link rel="icon" href="/static/rdany.ico">-->
    <title>Synth dataset editor</title>
    <style>
.comment {
    color: grey;
}

#editor {
    margin: 0;
    height:500px;
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}
    </style>

</head>
<body>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/ace-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <h1>Synth dataset editor</h1>

    <pre id="editor"></pre>
    <div id="console">Console</div>

    <script>

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/synth");

$( document ).ready(function() {
    var jqxhr = $.ajax( "/api" )
        .done(function(msg) {
            for (var i in msg["parsed"]["not_found"]) {
                $( "#console" ).append("<p>"+msg["parsed"]["not_found"][i]+"</p>");
            }
            editor.setValue(msg["text"]);
        })
        .fail(function() {
            //alert( "error" );
        })
        .always(function() {
            //alert( "complete" );
        });
});

    </script>
</body>
</html>
