<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Monitor your render">
    <meta name="author" content="rDany">
    <!--<link rel="icon" href="/static/rdany.ico">-->
    <title>Synth dataset editor</title>
    <style>
.comment {
    color: grey;
}

#editor {
    margin: 0;
    height:500px;
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}
    </style>

</head>
<body>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/ace-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <h1>Synth dataset editor</h1>
    <p><a href="#" onclick="do_save();return false;">Save</a> - <a href="#" onclick="do_reload();return false;">Reload</a></p>

    <pre id="editor"></pre>
    <div id="console">
        <p>Console<p>
    </div>
    <ul id="filelist"></ul>

    <script>

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/synth");

var current_file_name = null

$( document ).ready(function() {
    var jqxhr = $.ajax( {method: "GET", url: "/get_synth_list"} )
        .done(function(msg) {
            for (var i in msg["synth_list"]) {
                $( "#filelist" ).append("<li><a href=\"#\" onclick=\"do_load('"+msg["synth_list"][i]+"');return false;\">"+msg["synth_list"][i]+"</a></li>");
            }
            //editor.setValue(msg["text"]);
        })
        .fail(function() {
            //alert( "error" );
        })
        .always(function() {
            //alert( "complete" );
        });
});

function do_load(file_name) {
    //TODO should be inside ajax call
    current_file_name = file_name
    var jqxhr = $.ajax( {method: "GET", url: "/get_synth/"+file_name} )
        .done(function(msg) {
            for (var i in msg["parsed"]["not_found"]) {
                $( "#console" ).html()
                $( "#console" ).append("<p>"+msg["parsed"]["not_found"][i]+"</p>");
            }
            editor.setValue(msg["text"]);

        })
        .fail(function() {
            //alert( "error" );
        })
        .always(function() {
            //alert( "complete" );
        });
}

function do_save() {
    if (current_file_name==null) {
        return;
    }
    arr = {"file_name": current_file_name, "text": editor.getValue()}
    var jqxhr = $.ajax( {method: "POST",
                        url: "/save_synth",
                        data: JSON.stringify(arr),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8'} )
        .done(function(msg) {
            for (var i in msg["parsed"]["not_found"]) {
                $( "#console" ).html()
                $( "#console" ).append("<p>"+msg["parsed"]["not_found"][i]+"</p>");
            }
            //editor.setValue(msg["text"]);
        })
        .fail(function() {
            //alert( "error" );
        })
        .always(function() {
            //alert( "complete" );
        });
}

    </script>
</body>
</html>
